In [18]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import plotly as pl 
import seaborn as sns 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

## Encoding Categorical Variables

#### There are two types of categorical data
##### 1: Nominal 
##### 2: Ordinal

### Label Encoding

##### In label encoding, each unique category value is assigned an integer based on alphabetical order or occurrence. It works well when the categorical data has an intrinsic order

##### Label encoding is helpful when you are working on output column when for example it give answere like either customer buy the product or not and result column contain values like 'yes' and 'No'

In [19]:
data = ['Class A', 'Class B', 'Class C', 'Class A']
encoder = LabelEncoder()
encoded_data = encoder.fit_transform(data)

print(encoded_data)

[0 1 2 0]

### Ordinal Encoding
##### Ordinal encoding is useful when the categorical values have a clear, natural order. It maps each unique value to an integer but maintains the ordinal relationship.

In [20]:
from sklearn.preprocessing import OrdinalEncoder

data = pd.DataFrame({
    "Size": ["small", "medium", "Large", "medium", "Large", "small"],
    "temperature": ['low', 'medium', 'high', 'low', 'medium', 'high']
})

O_encoder = OrdinalEncoder(categories=[["small","medium","Large"], ['low','medium', "high"]])
O_encoder
O_encoder.fit(data)
encoded_data = O_encoder.transform(data)

print(encoded_data)

[[0. 0.]
 [1. 1.]
 [2. 2.]
 [1. 0.]
 [2. 1.]
 [0. 2.]]

In [21]:
df = sns.load_dataset("tips")
df.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [22]:
encoder = OrdinalEncoder()
dt_columns = df[["sex","smoker","day","time"]]
# dt_columns
encoded_data = encoder.fit_transform(df[["day"]])
print(encoded_data)

[[2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [1.]
 [1.]
 [1.]
 [1.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [2.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [3.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [0.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [3.]]

In [23]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoded_data = encoder.fit_transform(df[["time"]])
print(encoded_data)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1
 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

C:\Users\Abdullah khan\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

##### We need to train test siplit before encoding also for Ordinal Encoder you have to pass list like
##### oe = OrdinalEncoder(categrories=[['low','Average','good','Excellent']]) this will help full because you will
##### understande the data when it is in action that 0 for low and 1 for avergae and so on otherwise algoritham dicide by himself randomly
##### Also you can pass mulitple lists like
##### oe = OrdinalEncoder(categrories=[['low','Average','good','Excellent'],['school','college','university']]) this will help full because you will

## One-Hot Encoding

In [24]:
# One hot encoding using pandas get_dummies
dt = sns.load_dataset('titanic')
dt.sample(5)
dt.head(5)

# Applying One-Hot Encoding to 'sex', 'embarked', and 'class' columns
titanic_encoded = pd.get_dummies(dt, columns=['sex', 'embarked', 'class'])

titanic_encoded.head()

,survived,pclass,age,sibsp,parch,fare,who,adult_male,deck,embark_town,alive,alone,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,class_First,class_Second,class_Third
0,0,3,22.0,1,0,7.2500,man,True,NaN,Southampton,no,False,False,True,False,False,True,False,False,True
1,1,1,38.0,1,0,71.2833,woman,False,C,Cherbourg,yes,False,True,False,True,False,False,True,False,False
2,1,3,26.0,0,0,7.9250,woman,False,NaN,Southampton,yes,True,True,False,False,False,True,False,False,True
3,1,1,35.0,1,0,53.1000,woman,False,C,Southampton,yes,False,True,False,False,False,True,True,False,False
4,0,3,35.0,0,0,8.0500,man,True,NaN,Southampton,no,True,False,True,False,False,True,False,False,True

In [25]:
from sklearn.preprocessing import OneHotEncoder
df = sns.load_dataset('titanic')

df.sample(5)
cat_col = df[['sex', 'embarked', 'class']]
encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(cat_col)
print(encoded_data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 2673 stored elements and shape (891, 9)>
  Coords	Values
  (0, 1)	1.0
  (0, 4)	1.0
  (0, 8)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 6)	1.0
  (2, 0)	1.0
  (2, 4)	1.0
  (2, 8)	1.0
  (3, 0)	1.0
  (3, 4)	1.0
  (3, 6)	1.0
  (4, 1)	1.0
  (4, 4)	1.0
  (4, 8)	1.0
  (5, 1)	1.0
  (5, 3)	1.0
  (5, 8)	1.0
  (6, 1)	1.0
  (6, 4)	1.0
  (6, 6)	1.0
  (7, 1)	1.0
  (7, 4)	1.0
  (7, 8)	1.0
  (8, 0)	1.0
  :	:
  (882, 8)	1.0
  (883, 1)	1.0
  (883, 4)	1.0
  (883, 7)	1.0
  (884, 1)	1.0
  (884, 4)	1.0
  (884, 8)	1.0
  (885, 0)	1.0
  (885, 3)	1.0
  (885, 8)	1.0
  (886, 1)	1.0
  (886, 4)	1.0
  (886, 7)	1.0
  (887, 0)	1.0
  (887, 4)	1.0
  (887, 6)	1.0
  (888, 0)	1.0
  (888, 4)	1.0
  (888, 8)	1.0
  (889, 1)	1.0
  (889, 2)	1.0
  (889, 6)	1.0
  (890, 1)	1.0
  (890, 3)	1.0
  (890, 8)	1.0

In [26]:
# Let's first train test the above code 
from sklearn.preprocessing import OneHotEncoder
df = sns.load_dataset('titanic')

df.sample(5)

# cat_col = df[['sex', 'embarked', 'class']]
X_train, X_test, y_train, y_test = train_test_split(cat_col.iloc[:,[0,1]],cat_col.iloc[:,-1], test_size=0.2, random_state=42)
X_train
encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(cat_col)
print(encoded_data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 2673 stored elements and shape (891, 9)>
  Coords	Values
  (0, 1)	1.0
  (0, 4)	1.0
  (0, 8)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 6)	1.0
  (2, 0)	1.0
  (2, 4)	1.0
  (2, 8)	1.0
  (3, 0)	1.0
  (3, 4)	1.0
  (3, 6)	1.0
  (4, 1)	1.0
  (4, 4)	1.0
  (4, 8)	1.0
  (5, 1)	1.0
  (5, 3)	1.0
  (5, 8)	1.0
  (6, 1)	1.0
  (6, 4)	1.0
  (6, 6)	1.0
  (7, 1)	1.0
  (7, 4)	1.0
  (7, 8)	1.0
  (8, 0)	1.0
  :	:
  (882, 8)	1.0
  (883, 1)	1.0
  (883, 4)	1.0
  (883, 7)	1.0
  (884, 1)	1.0
  (884, 4)	1.0
  (884, 8)	1.0
  (885, 0)	1.0
  (885, 3)	1.0
  (885, 8)	1.0
  (886, 1)	1.0
  (886, 4)	1.0
  (886, 7)	1.0
  (887, 0)	1.0
  (887, 4)	1.0
  (887, 6)	1.0
  (888, 0)	1.0
  (888, 4)	1.0
  (888, 8)	1.0
  (889, 1)	1.0
  (889, 2)	1.0
  (889, 6)	1.0
  (890, 1)	1.0
  (890, 3)	1.0
  (890, 8)	1.0

#### In this encoding we carefully learn and work on multicoliniarity: where we remove one column because if we do not remove one column and we add all column after OHE the output will be 1

## Column Transformer

In [27]:
dt = pd.read_csv("D:\\Machine learning\\DataSets\\covid_data_with_missing_values.csv")
dt.sample(5)

      age  gender       fever cough      city has_covid
105  42.0  Female   98.403217   Low  New York        No
127  33.0  Female  100.257814   Low  New York       Yes
25   53.0  Female   99.000554  High   Phoenix       Yes
73   24.0    Male  104.376560  High   Chicago        No
345  58.0    Male  102.053740  High  New York       Yes

In [28]:
# dt.isnull().sum()
# dt.info()
# dt["cough"].value_counts()
dt["city"].value_counts()

city
Houston        108
Chicago        105
New York        98
Phoenix         96
Los Angeles     93
Name: count, dtype: int64

In [ ]:
# let's fill missing values 
# Condsider this as dummy it will not effect the orignal outcome if we replace it with mean values
dt[dt["age"].isnull()]

# dt["age"].fillna(dt["age"].mean(),inplace=True)
# dt[dt["age"].isnull()]

# dt["fever"].fillna(dt["fever"].mean(),inplace=True)
# dt[dt["fever"].isnull()]


dt["age"] = dt["age"].astype("int")
dt["fever"] = dt["fever"].astype("int")

# dt["age"].dtype
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        480 non-null    float64
 1   gender     500 non-null    object
 2   fever      480 non-null    float64
 3   cough      500 non-null    object
 4   city       500 non-null    object
 5   has_covid  500 non-null    object
dtypes: float64(2), object(4)
memory usage: 23.6+ KB

In [30]:
# Train test siplit
X_train, X_test, y_train, y_test = train_test_split(dt.drop(columns=["has_covid"]), dt["has_covid"], test_size=0.2, random_state=42)
y_train

249    Yes
433    Yes
19     Yes
322     No
332     No
      ...
106     No
270     No
348     No
435    Yes
102     No
Name: has_covid, Length: 400, dtype: object

### Without column transformer we have to transform each and every column separatly then concatinate

In [31]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer


transformer = ColumnTransformer(transformers=[
    ('tranf1', SimpleImputer(),["age","fever"]),
    ('tranf2',OrdinalEncoder(categories=[["Low","High"]]),["cough"]),
    ('tranf3',OneHotEncoder(sparse_output=False,drop="first"),["gender","city"])],
                                remainder="passthrough")   # transformer get the list of columns need to tranform and reminder get the column other then that you can either 'drop' them or contain remain the same we will use term 'passthrough'

In [32]:
# transformer.fit_transform(X_train)
# transformer.fit_transform(X_train).shape

transformer.fit_transform(X_test)
# transformer.fit_transform(X_test).shape

array([[ 27.        , 102.46455633,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 24.        , 104.37655986,   1.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 37.        , 101.82645015,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 63.        , 104.12314221,   0.        ,   1.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 43.40816327,  99.92800267,   0.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 26.        , 104.8947006 ,   0.        ,   1.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 65.        , 101.53016967,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 53.        ,  97.27817525,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 69.        , 100.06634088,   0.        ,   1.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 37.        ,  99.84364   ,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 46.        ,  99.02809351,   0.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 42.        , 104.46063518,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 28.        ,  99.43608086,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 32.        ,  97.88463312,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 68.        , 103.32482831,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 19.        ,  97.57980702,   0.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 27.        ,  97.84385569,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 50.        , 102.59956172,   0.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 39.        , 102.58887422,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 48.        ,  98.93924353,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 45.        ,  99.18748935,   0.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 28.        , 102.01608376,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 59.        ,  97.76886142,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 49.        , 101.39587834,   0.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 46.        ,  97.24858549,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 59.        , 103.54263053,   1.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 58.        , 100.87029237,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 23.        , 103.95772563,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 54.        , 103.55758243,   0.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 67.        , 101.4464657 ,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 59.        , 100.87029237,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 35.        ,  98.74810589,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 37.        , 102.21112521,   1.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 33.        , 103.09213755,   1.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 32.        , 104.02494649,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 47.        ,  98.32122276,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 58.        , 102.79810122,   1.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 69.        , 101.08981795,   1.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 37.        , 100.47263325,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 56.        , 103.38687447,   0.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 24.        , 101.36840174,   1.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 41.        , 101.97202803,   1.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 18.        ,  99.32011165,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 29.        , 104.43096353,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 35.        , 103.16369941,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 40.        , 100.23288974,   1.        ,   1.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 53.        , 100.18193241,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 49.        , 102.45351511,   1.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 24.        ,  99.1615818 ,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 18.        , 100.46999104,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 40.        ,  98.06559823,   1.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 56.        , 100.74131805,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 36.        ,  99.63058107,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 42.        ,  99.02883473,   0.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 28.        ,  97.54847691,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 65.        ,  97.41335595,   0.        ,   1.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 37.        ,  97.75436128,   1.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 52.        , 101.25991482,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 20.        , 100.41764039,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 21.        , 100.87029237,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 52.        ,  98.96436311,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 46.        , 101.96588712,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 31.        , 100.60155855,   0.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 19.        , 102.97535608,   0.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 60.        ,  99.4511133 ,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 44.        ,  97.81589115,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 19.        , 100.08035061,   1.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 60.        , 104.53594299,   1.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 68.        ,  97.53255676,   1.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 22.        , 101.32520254,   0.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 57.        ,  98.36420877,   1.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 25.        ,  98.02194285,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 43.40816327, 101.14307627,   0.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 45.        , 102.97993616,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 64.        ,  98.02437686,   1.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 47.        ,  99.14198981,   0.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 45.        , 100.88751752,   1.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 21.        , 104.25930291,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 18.        , 103.27931471,   1.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 57.        ,  98.71795375,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 39.        , 102.24452931,   0.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 45.        ,  98.82585465,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 27.        , 100.09583279,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 22.        , 101.2621266 ,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 65.        , 100.51056855,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 31.        , 104.64743806,   1.        ,   1.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 49.        , 100.26172388,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 53.        , 103.55227232,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 47.        ,  98.61796484,   1.        ,   1.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 66.        , 104.25688786,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 67.        , 100.19213512,   1.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 37.        , 103.04421045,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 65.        ,  99.52677182,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   0.        ],
       [ 51.        , 102.43526398,   1.        ,   0.        ,
          1.        ,   0.        ,   0.        ,   0.        ],
       [ 41.        , 101.22014822,   0.        ,   1.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 65.        ,  98.87774465,   0.        ,   0.        ,
          0.        ,   0.        ,   1.        ,   0.        ],
       [ 48.        ,  97.95986808,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 50.        , 100.96630736,   0.        ,   1.        ,
          0.        ,   0.        ,   0.        ,   1.        ],
       [ 52.        , 104.89677622,   0.        ,   0.        ,
          0.        ,   1.        ,   0.        ,   0.        ],
       [ 55.        , 102.05727966,   0.        ,   0.        ,
          0.        ,   0.        ,   0.        ,   1.        ]])

## Revision

In [33]:
Data = ["Yes","No","Yes","Yes","No","Yes","No","No"]
dt = pd.DataFrame(Data,columns=["Buyer"])
Encoder = LabelEncoder()
L_encoder = Encoder.fit_transform(dt["Buyer"])
# print(L_encoder)
dt["Buyer"] = L_encoder
dt

   Buyer
0      1
1      0
2      1
3      1
4      0
5      1
6      0
7      0

In [34]:
# OrdinalEncoding
Data = [["High"],["High"],["Medium"],["Low"],["Low"],["Low"],["Low"],["Medium"],["High"]]
dt = pd.DataFrame(Data,columns=["Fever"])
# dt_columns = dt[['Fever']]
Encoder = OrdinalEncoder(categories=[["Low","Medium","High"]])
O_encoder = Encoder.fit_transform(dt)
O_encoder

array([[2.],
       [2.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [2.]])

In [35]:
# OneHotEncoding
dt = sns.load_dataset("titanic")
# dt.sample(5)

dt_columns = ["sex","embarked","class"]
pd_ohe_encoder = pd.get_dummies(dt, columns=dt_columns)
pd_ohe_encoder

,survived,pclass,age,sibsp,parch,fare,who,adult_male,deck,embark_town,alive,alone,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,class_First,class_Second,class_Third
0,0,3,22.0,1,0,7.2500,man,True,NaN,Southampton,no,False,False,True,False,False,True,False,False,True
1,1,1,38.0,1,0,71.2833,woman,False,C,Cherbourg,yes,False,True,False,True,False,False,True,False,False
2,1,3,26.0,0,0,7.9250,woman,False,NaN,Southampton,yes,True,True,False,False,False,True,False,False,True
3,1,1,35.0,1,0,53.1000,woman,False,C,Southampton,yes,False,True,False,False,False,True,True,False,False
4,0,3,35.0,0,0,8.0500,man,True,NaN,Southampton,no,True,False,True,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,man,True,NaN,Southampton,no,True,False,True,False,False,True,False,True,False
887,1,1,19.0,0,0,30.0000,woman,False,B,Southampton,yes,True,True,False,False,False,True,True,False,False
888,0,3,NaN,1,2,23.4500,woman,False,NaN,Southampton,no,False,True,False,False,False,True,False,False,True
889,1,1,26.0,0,0,30.0000,man,True,C,Cherbourg,yes,True,False,True,True,False,False,True,False,False
890,0,3,32.0,0,0,7.7500,man,True,NaN,Queenstown,no,True,False,True,False,True,False,False,False,True

In [36]:
# dt_columns = [["sex","embarked","class"]]
# Encoder = OneHotEncoder()
# ohe_encoder = Encoder.fit_transform(dt_columns)
# print(ohe_encoder)

df = sns.load_dataset('titanic')
cat_col = df[['sex', 'embarked', 'class']]
encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(cat_col)
print(encoded_data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 2673 stored elements and shape (891, 9)>
  Coords	Values
  (0, 1)	1.0
  (0, 4)	1.0
  (0, 8)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 6)	1.0
  (2, 0)	1.0
  (2, 4)	1.0
  (2, 8)	1.0
  (3, 0)	1.0
  (3, 4)	1.0
  (3, 6)	1.0
  (4, 1)	1.0
  (4, 4)	1.0
  (4, 8)	1.0
  (5, 1)	1.0
  (5, 3)	1.0
  (5, 8)	1.0
  (6, 1)	1.0
  (6, 4)	1.0
  (6, 6)	1.0
  (7, 1)	1.0
  (7, 4)	1.0
  (7, 8)	1.0
  (8, 0)	1.0
  :	:
  (882, 8)	1.0
  (883, 1)	1.0
  (883, 4)	1.0
  (883, 7)	1.0
  (884, 1)	1.0
  (884, 4)	1.0
  (884, 8)	1.0
  (885, 0)	1.0
  (885, 3)	1.0
  (885, 8)	1.0
  (886, 1)	1.0
  (886, 4)	1.0
  (886, 7)	1.0
  (887, 0)	1.0
  (887, 4)	1.0
  (887, 6)	1.0
  (888, 0)	1.0
  (888, 4)	1.0
  (888, 8)	1.0
  (889, 1)	1.0
  (889, 2)	1.0
  (889, 6)	1.0
  (890, 1)	1.0
  (890, 3)	1.0
  (890, 8)	1.0

In [37]:
# Column Transformer
dt = pd.read_csv("D:\\Machine learning\\DataSets\\covid_data_with_missing_values.csv")
# dt.sample(5)

# let's fill missing values 
# Condsider this as dummy it will not effect the orignal outcome if we replace it with mean values
dt[dt["age"].isnull()]

dt["age"].fillna(dt["age"].mean(),inplace=True)
dt[dt["age"].isnull()]

dt["fever"].fillna(dt["fever"].mean(),inplace=True)
dt[dt["fever"].isnull()]


dt["age"] = dt["age"].astype("int")
dt["fever"] = dt["fever"].astype("int")

# dt["age"].dtype
dt["age"].isnull().sum()
# dt.info()

C:\Users\Abdullah khan\AppData\Local\Temp\ipykernel_12188\1953283369.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt["age"].fillna(dt["age"].mean(),inplace=True)
C:\Users\Abdullah khan\AppData\Local\Temp\ipykernel_12188\1953283369.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt["fever"].fillna(dt["fever"].mean(),inplace=True)

np.int64(0)

In [38]:
X_train, X_test, y_train, y_test = train_test_split(dt.drop(columns=["has_covid"]), dt["has_covid"], test_size=0.2, random_state=42)
X_train.sample(5)

     age  gender  fever cough      city
187   52  Female    102  High   Chicago
134   33    Male    104   Low   Phoenix
383   58    Male     98  High  New York
244   67    Male    103  High   Chicago
482   37    Male    103   Low   Houston

In [39]:
Encoder = OneHotEncoder()

In [40]:
# Column Transformers
data = sns.load_dataset("tips")
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [41]:
from sklearn.impute import SimpleImputer

X_train, X_test, y_train, y_test = train_test_split(data.drop(columns=["total_bill"]), data["total_bill"], test_size=0.2, random_state=42)

In [42]:
data.isnull().sum() # We use simple imputer to fill the missing values

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [43]:
si = SimpleImputer(strategy="mean")
# si.fit(X_train[["size"]])

In [44]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop="first")
X_train_gender_day = ohe.fit_transform(X_train[["sex","day"]])
X_test_gender_day = ohe.fit_transform(X_test[["sex","day"]])
X_train_gender_day
X_test_gender_day

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 77 stored elements and shape (49, 4)>

In [45]:
# # Now with column transforemers
# from sklearn.compose import ColumnTransformer
# transformer = ColumnTransformer(transformers=[
    
# ]})

## Transformer Practice

In [47]:
# Sample data
data = {
    'age': [25, 30, None, 40],
    'income': [50000, 60000, 70000, None],
    'gender': ['M', 'F', 'M', 'F'],
    'city': ['NY', 'LA', 'NY', 'SF'],
    'review': ['Great product!', 'Not bad', 'Amazing', 'Could be better'],
    'target': [1, 0, 1, 0]
}

In [52]:
df = pd.DataFrame(data)
df

    age   income gender city           review  target
0  25.0  50000.0      M   NY   Great product!       1
1  30.0  60000.0      F   LA          Not bad       0
2   NaN  70000.0      M   NY          Amazing       1
3  40.0      NaN      F   SF  Could be better       0

In [53]:
# Split data
X = df.drop('target', axis=1)
y = df['target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [57]:
# Define transformers
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer

numerical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="mean")),
    ("Scalar", StandardScaler())
])
categorical_transformer = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])
text_transformer = Pipeline(steps=[
    ("tfidf", TfidfVectorizer())
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, ['age', 'income']),
        ('cat', categorical_transformer, ['gender', 'city']),
        ('text', text_transformer, 'review')
    ],
    remainder='drop'
)

# Create pipelines
model_pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("classifier", RandomForestClassifier())
])

preprocessor
model_pipeline

# Fit and Predict
model_pipeline.fit(X_train, y_train)
y_pred = model_pipeline.predict(X_test)
print(y_pred)

[1]