In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import plotly as pl 
import seaborn as sns 
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder
from sklearn.impute import SimpleImputer, MissingIndicator

## Mixed variable, DateTime etc.

In [7]:
# Separate Numerical and Categorical Data
data = {'age': ['25 years', '30 years', 'Unknown', '40 years']}
df = pd.DataFrame(data)

# Separate Numerical and Categorical Data
df['age_num'] = df['age'].str.extract('(\d+)').astype(float)
df["age_cat"] = np.where(df["age"].str.contains("Unknown"), "Unknown", "Known")
df

        age  age_num  age_cat
0  25 years     25.0    Known
1  30 years     30.0    Known
2   Unknown      NaN  Unknown
3  40 years     40.0    Known

In [11]:
# Impute Missing Numerical Data
imputer = SimpleImputer(strategy="mean")
df["age_num"] = imputer.fit_transform(df[["age_num"]])
df

        age    age_num  age_cat
0  25 years  25.000000    Known
1  30 years  30.000000    Known
2   Unknown  31.666667  Unknown
3  40 years  40.000000    Known